<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Level 2</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/style2.css" />
  </head>
  <body>
    <div class="container">
      <ul id="list"></ul>
    </div>
    <div class="buttons-container">
      <button id="check-button" class="button-arounder" onmouseover="playAudio()" onmouseout="pauseAudio()">Check</button>
    </div>
    <audio id="audio">
      <source src="/static/audio/check-answer.mp3" type="audio/mpeg">
    </audio>
    <audio id="audiohub">
      <source src="/static/audio/hub.mp3" type="audio/mpeg">
    </audio>
    <!-- Script -->
    <script src="/static/level2.js"></script>
    <script>
      function playAudio() {
        var audio = document.getElementById("audio");
        audio.play();
      }

      function pauseAudio() {
        var audio = document.getElementById("audio");
        audio.pause();
        audio.currentTime = 0;
      }

      function playAudioHub() {
        var audio = document.getElementById("audiohub");
        audio.play();
      }

      function pauseAudioHub() {
        var audio = document.getElementById("audiohub");
        audio.pause();
        audio.currentTime = 0;
      }
    </script>
  </body>
</html>
