<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Level 1</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/style1.css" />
  </head>
  <body>
    <div id="container">
      <div id="btn-container">
         <button id="create-elem-btn" class="btn-center-top">Create Element</button>
      </div>
    </div>
    <script src="/static/level1.js"></script>
  </body>

</html>