<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Level 4</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/style4.css" />
</head>
<body>
    <div class="grid-wrapper">
        <div class="draggable-container">
        </div>
        <div class="grid-container">
            <div class="grid-item1" data-tag="paper"><img src="/static/images/bin1.png"></div>
            <div class="grid-item2" data-tag="plastic"><img src="/static/images/bin2.png"></div>
            <div class="grid-item3" data-tag="glass"><img src="/static/images/bin3.png"></div>
            <div class="grid-item4" data-tag="metal"><img src="/static/images/bin4.png"></div>
        </div>
    </div>
    <script src="/static/level4.js"></script>
</body>
</html>
