<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Hub</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">

</head>

<body style="background-image: url({{ url_for('static', filename='images/' + background)}});">


<div class="picture"><img src="{{ url_for('static', filename='/images/file.png')}}" class="profile-picture"></div>
<button  class="btn btn-light btn-sm mt-1 ml-1" onclick="playSound('{{text}}')">🔊</button>
<button class="btn btn-light btn-sm mt-1" onclick="window.speechSynthesis.cancel()">🔇</button>

<script>
  console.log('{{text}}');

function playSound(text) {
  console.log(text);
  var msg = new SpeechSynthesisUtterance(text);
  msg.rate = 0.8;
  window.speechSynthesis.speak(msg);
}


</script>

<div class="container-fluid">
    <div class="row main">
    </div>
    <div class="row main text-align-center justify-content-center m-auto ms-auto">
        <div class="col-6 justify-content-center m-auto text-center">
            <img id = "game1" class ="games py-5" src="{{ url_for('static', filename='/images/219438626-903298e3-f0a9-4464-9f54-46136e0844f0.png')}}">
        </div>
        <div class="col-6 m-auto text-center">
            <img id = "game2" class ="games py-5 z-index-1" src="{{ url_for('static', filename='/images/rainbow.png')}}">
        </div>
    </div>

        <div class="row main">
        <div class="col-6 m-auto text-center">
            <img id = "game3" class ="games py-5 z-index-1" src="{{ url_for('static', filename='/images/animalsgame.png')}}">
        </div>
        <div class="col-6 m-auto text-center">
            <img id = "game4" class ="games py-5 z-index-1" src="{{ url_for('static', filename='/images/219438606-ca64f80e-3732-42ae-a24a-b4ecccbe4eb1.png')}}">
        </div>
    </div>

    <div class="row main justify-content-center m-auto my-5 py-5 text-center">
        <div class="col-4 m-auto"></div>
        <div class="col-4 m-auto text-center">
            <div id = "companion" class="circle m-auto z-index-master"><img class="sprite " src="{{ url_for('static', filename='images/' + companion + '.png')}}"></div>
        </div>
        <div class="col-4 m-auto"></div>
    </div>




</div>


<script src="{{url_for('static', filename='engine.js')}}"></script>

<div class="h-100 d-flex align-items-center justify-content-center mt-5">
    <div style="background:red">


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>

</body>
</html>