<!DOCTYPE html>
<html>
  <head>
	  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <style>

    </style>
  </head>
  <body>
<!--    <div class="file-input-container">-->
<!--      <input class="file-input" type="file" id="file-input" />-->
<!--      <label for="file-input">Upload File</label>-->
<!--    </div>-->
<!--   <script>-->
<!--      const input = document.querySelector("#file-input");-->
<!--      input.addEventListener("change", () => {-->
<!--        const formData = new FormData();-->
<!--        formData.append("file", input.files[0]);-->

<!--        fetch("/upload", {-->
<!--          method: "POST",-->
<!--          body: formData-->
<!--        })-->
<!--          .then(response => response.json())-->
<!--          .then(data => {-->
<!--            console.log(data);-->
<!--          })-->
<!--          .catch(error => {-->
<!--            console.error(error);-->
<!--          });-->
<!--      });-->
<!--    </script>-->



  	  <form class="box" method="post" action="/success" enctype="multipart/form-data">
	  <div class="box__input">

		<input class="box__file" type="file" name="file" id="file" />
		  <br>
		  <label>Choose a theme for the game:</label>
		  <br>
		  <input type="radio" id="Wizards" name="theme" value="Wizards">
		  <label for="Wizards">Wizards</label><br>
		  <input type="radio" id="Pokemon" name="theme" value="Pokemon">
		  <label for="Pokemon">Pokemon</label><br>
		  <input type="radio" id="Pirates" name="theme" value="Pirates">
		  <label for="Pirates">Pirates</label>
		  <br>
		<button class="box__button" type="submit">Start the game</button>
	  </div>
	  <div class="box__uploading">Uploading…</div>
	  <div class="box__success">Done!</div>
	  <div class="box__error">Error! <span></span>.</div>
	</form>

  </body>
</html>